<ion-view class="content-dark">
  <ion-content scroll="false" class="box">
    <div class="timer">{{ timer.time }}s / {{ currentBestTime() }}s</div>
    <div class="not-yet" ng-if="mazeNotAvailable">Not yet...</div>
    <div class="lights" id="lights" on-touch="touchLight()" on-release="releaseLight()" on-drag="dragLight()"></div>
    <div class="bottom">
        <div class="row">
          <div class="col col-10" ng-click="previousMaze()">
            <i class="icon ion-chevron-left" ng-if="notFirst()"></i>
          </div>

          <div class="col center">{{ mazeNumber + 1 }} of {{ totalMazes }}</div>

          <div class="col col-10" ng-click="nextMaze()">
            <i class="icon ion-chevron-right" ng-if="notLast()"></i>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>